{% include 'header.html' %}

{% include 'navbar.html' %}

<div class="container">
	<div class="pull-left">
		<form action="registerbook.php" method="post">
			<div class="form-group">
				<label for="isbn">
					ISBN
				</label>
				
				<input class="form-control" type="text" name="isbn" placeholder="Enter isbn" required />
			</div>

			<button class="btn btn-default" type="submit">
				Find
			</button>
		</form>
	</div>

	<div class="pull-right">
		{% if book %}

			<form action="addbooktodatabase.php" method="post">
				
				{% for key, value in book %}

					<div class="form-group">
						<label for="{{ key }}">
							{{ key }}
						</label>

						<input class="form-control" type="text" name="{{ key }}" value="{{ value }}" readonly />
					</div>

				{% endfor %}

				<button class="btn btn-default" type="submit" method="post">
					Add
				</button>
			</form>

		{% else %}

			<div>
				{{ message }}
			</div>

		{% endif %}
	</div>
</div>

{% include 'footer.html' %}